@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

body{
    width: 90%;
    border: 1px solid;
    margin: 0 auto;
    background-color: var(--bg-body-color);
}

:root{
    --logo-color: #ff5400;
    --secondry-text-color: #424247;
    --p-text-color: #59595d;
    --first-text-color: #131318;
    --footer-bg-color: #f3f3f3;
    --first-cart-color: #fffbf7;
    --second-cart-color: #f4fdff;
    --third-cart-color: #fef5f5;
    --bg-body-color: #ffffff;
}
/* ======HEADER SECTION START HERE====== */

.hader-section{
    max-width: 1140px;
    height: 800px;
    margin: 0 auto;
}
.navber{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 3rem;
    height: 3rem;
}
.logo h3{
    margin-left: .8rem;
    font-size: 2rem;
    font-weight: 800;
}
.logo h3 span{
    color: var(--logo-color);
}
.navber ul{
    display: flex;
}
.navber ul li{
    margin-left: 2rem;
}
#display-hidden{
    display: none;
}
.navber ul li a{
    font-size: 18px;
    font-weight: 400;
    color: var(--secondry-text-color);
    position: relative;
}
.navber ul li a::before{
    position: absolute;
    content: "";
    width: 0;
    height: .1rem;
    background-color: var(--first-text-color);
    left: 0;
    bottom: 0;
    border-radius: 2rem;
    transition: all 0.3s ease-out;
}
.navber ul li a:hover::before{
    width: 100%;
}
.header-banner-section{
    width: 98%;
    height: 450px;
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%) ,url("/Images/header-banner.png.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: .8rem;
}
.header-banner-content{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-top: 6rem;
    color:#fff;
}
.header-banner-content h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.header-banner-content p{
    color: var(--bg-body-color);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1rem;
}
.input-select-link{
   background-color: rgb(255, 255, 255, 0.1);
   backdrop-filter: blur(4px);
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: .7rem 1rem;
   margin-top: 3rem;
   border-radius: .8rem;
}
.input-select-link input, select{
    padding: .8rem 1rem;
    border-radius: .4rem;
    border: none;
    outline: none;
}
.btn button{
    padding: .8rem 1rem;
    border: none;
    border-radius: .8rem;
    background-color: var(--logo-color);
    color: var(--bg-body-color);
    cursor: pointer;
}
/* ======HEADER SECTION END HERE====== */

/* ======POPULAR SECTION START HERE====== */
.popular-section{
    width: 1140px calc(1140px - 50% - 2rem);
    height: 800px;
    margin: -10rem auto;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}
.popular-content{
    width: 550px;
}
.popular-content h4{
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.popular-content p, li{
    color: var(--p-text-color);
    line-height: 1.6rem;
}
.popular-content li{
    list-style:decimal-leading-zero;
    padding-left: .5rem;
}
#read-more-btn button{
    font-size: 18px;
    font-weight: 500;
    margin-top: 1.5rem;
    padding:  .8rem 1.8rem;
}
/* ======POPULAR SECTION END HERE====== */

/* ======DESTINATION SECTION START HERE====== */
.destination-section{
    width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.destination-section h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.destination-section p{
    max-width: 36rem;
    margin: 0 auto;
}
.destination-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 2rem;
}
.destination-column2{
    display: grid;
    grid-template-columns: 0.8fr 1fr 0.6fr;
    grid-gap: 1rem;
    margin-top: 1rem;
}
.destination-column3{
    display: grid;
    grid-template-columns: 0.7fr 1fr ;
    grid-gap: 1rem;
    margin-top: .8rem;
}
.destination-column img, 
.destination-column2 img, 
.destination-column3 img{
    width: 100%;
    filter: brightness(70%);
}
.overlay-text{
    position: relative;
}
.overlay-text h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    color: var(--bg-body-color);
    font-size: 1.9rem;
    font-weight: 600;
}
/* ======DESTINATION SECTION END HERE====== */





/* =======MEDIA QUARY SECTION START HERE======== */

@media screen and (max-width: 576px) {
    .navber ul li{
        display: none;
    }
    #display-hidden{
        display: block;
    }
    .logo h3{
        font-size: 1.7rem;
    }
    .header-banner-content{
        padding-top: 2rem;
        color:#fff;
    }
    .header-banner-content, 
    .header-banner-content{
        width: 100%;
    }
    .header-banner-content h2{
        font-size: 1.8rem;
    }
    .header-banner-content p{
        font-size: 16px;
        padding: 0 1rem;
    }
    .input-select-link{
        flex-direction: column;
        margin: 1rem 2rem;
    }
    .input-select-link input, select, .btn{
        margin-top: 1rem;
        width: 100%;
    }
    .popular-section{
        flex-direction: column;
        padding: .4rem;
        margin-top: -13rem;
    }
    .popular-content, 
    .popular-section, 
    .popular-img img{
        width: 100%;
    }
    .popular-img img{
        margin-top: 2rem;
        padding: 0 -.4rem;
    }
    .popular-content h4{
        font-size: 1.7rem;
    }
    .destination-column, 
    .destination-column2, 
    .destination-column3{
        grid-template-columns: 1fr;
        flex-direction: column;       
    }
    .destination-section{
        margin-top: 27rem;
    }
    .destination-column img, 
    .destination-column2 img, 
    .destination-column3 img, 
    .destination-section{
        width: 100%;
}
}
/* =======MEDIA QUARY SECTION END HERE======== */